.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
}

.card{
  text-align: center;
  align-items: center;
}

.container{
  align-self: stretch;
  justify-content: center;
  margin-top: 10%;
  width: 50%;
  height: 50%;
}

.row{
  margin: 10px;
}
