.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

.card{
  text-align: center;
  align-items: center;
}

.container{
  align-self: stretch;
  justify-content: center;
  margin-top: 10%;
}